.tabela-content{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Css do formulario */

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 30%;
  gap: 15px;
}

.campo-input{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  width: 100%;
}

.campo-input input{
  height: 40px;
  border: 0;
  background-color: #e0e0e0;
  outline: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 18px;
}

.formulario button{
  padding: 10px 20px;
  border: 0;
  border-radius: 8px;
  font-size: 19px;
  font-weight: bold;
  background-color: rebeccapurple;
  color: #fff;
  cursor: pointer;
  transition: all .2s;
}

.formulario button:hover{
  opacity: .8;
}


/* Css da tabela */

.tabela{
  background-color: #fff;
  width: 60%;
  margin: 35px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  border: 1px solid #010101;
}

.tabela thead tr, .tabela tbody tr{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  
}

.tabela thead tr th{
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(78, 78, 78);
  padding-bottom: 10px;
  color: #f65835;
  font-weight: bold;
  font-size: 23px;
}

.tabela tbody tr td{
  border-bottom: 1px solid #aaa8a8;
  padding-bottom: 5px;
  margin-bottom: 80px;
  font-size: 20px;
  font-weight: bold;
  color: rebeccapurple;
}

.td__aplicacao{
  color: blue;
  border: 1px solid #010101;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 5px;
  cursor: pointer;
}

.tr__pai{
  position: relative;
}

.td__modal{
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}

.td__modal p{
  color: #f65835;
}

.lixo{
  color: #f65835;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  
}

.lixo svg{
  margin-right: 10px;
}


.tabela tbody tr button{
  border: 0;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .6)
}

.map_tabela{
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}